* {
    margin: 0;
    padding: 0;
  }
  
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
  
a:hover {
  opacity: 0.7;
}
  
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
  
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}
  
main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}
  
.nav-list {
  list-style: none;
  display: flex;
}
  
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
  
.mobile-menu {
  display: none;
  cursor: pointer;
}
  
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
  
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
  
.nav-list.active {
  transform: translateX(0);
}
  
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
  opacity: 0;
}
  
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.form {
  height: 92vh;
  width: 100vw;
}

.form form {
  display: flex;
  flex-direction: column;
  color: #fff7fb;
  align-items: center;
}

.colunas {
  display: flex;
  gap: 2rem;
}

.coluna {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.ceps {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  width: 15.1rem;
}

.form input, select {
  height: 5vh;
  width: 15rem;
  border: none;
  background: #23232e;
  color: #FFF;
  border-radius: 7px;
  transition: 0.3s;
}

@media (max-width: 600px){
  body {
    overflow-x: hidden;
  }

  main {
    height: 100vh;
  }

  .form input, select {
    width: 12rem;    
  }
}

@media (max-width: 520px) {
  .colunas {
    gap: 1em;
  }

  .form, .form form {
    height: 80vh;
  }

  .ceps {
    gap: 0.3rem;
  }
}

.form input:focus{
  opacity: 0.9;
}

.form button {
  cursor: pointer;
  height: 4.8vh;
  width: 6rem;
  border: none;
  transition: 0.3s;
  background: #904e5b;
  color: #FFF;
  border-radius: 6px;
  margin-top: 1rem;
}

.form button:hover{
  opacity: 0.8;
}

.checks {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-top: 1.5rem;
  gap: 0.7rem;
}

.checks input { 
  height: 1.7vh;
  gap: 1rem;
  width: 1.5rem;
}

.final {
  display: flex;
}

.resultado {
  width: 100vw;
  height: 92vh;
}

.resultado ul li {
  color: #FFF;
  width: 25%;
}

.resultado ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.resultado ul li:nth-child(odd){
  background: #201921;
  list-style: none;
}

.resultado ul li:nth-child(even){
  background: #94505e;
  list-style: none;
}